.bi-tiktok {
    color: #111111;
    
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
  }
  .M img{
    width: 7rem;
  }

  .S{
    background-image: url(Images/pikaso_texttoimage_papercut-illustration-A-music-studio-where-a-Black\ \(2\).jpeg);
    background-position: center;
    filter: brightness(2px);
    background-repeat: no-repeat;
    background-size: cover;
  }
.col{
  height: 100%;
}
.Dard {
  transition: 1s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.Dard .img {
  width: 20rem;
  height: 20em;
  background: white;
  border-radius: 15px;
  margin: auto;
  background-image: url(Images/Mee.jpg);
  background-size: cover;
}

.Dard .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.Dard a {
  color: white;
  transition: .4s ease-in-out;
}

.Dard a:hover {
  color: red;
}

.Dard button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.Dard button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
.G{
  top:0rem;
  position: sticky;
}
